@charset "UTF-8";

#header {z-index:3;position:relative;width:100%;}
#header .first-nav {z-index:2;position:fixed;width:100%;height:45px;margin:0 auto;background:#444;}
#header .first-nav .container {box-sizing:border-box;height:100%;margin:0 15.95745%;padding:0 2.127660%;transition:all .3s;box-sizing:border-box;}
#header .first-nav .container .relative-wrapper {width:100%;height:100%;}
#header .first-nav .container .relative-wrapper div {width:100%;height:100%;}

/* 브랜딩 로고 */
#header .first-nav .container .relative-wrapper div .nav-left {float:left;  line-height:250%;height:100%;}
#header .first-nav .container .relative-wrapper div .nav-left li {display:inline-block;height:100%;}
#header .first-nav .container .relative-wrapper div .nav-left li a {position:relative;padding:0 10px;}
#header .first-nav .container .relative-wrapper div .nav-left li i {display:inline-block;width:1px;height:21px;background:#fff;opacity:.4;}
#header .first-nav .container .relative-wrapper div .nav-left li a img {filter:grayscale(100%); opacity:.4;transition:all .3s;}
#header .first-nav .container .relative-wrapper div .nav-left li a img:hover {filter:grayscale(0);opacity:1;}

/* 로케이션 & 어카운트 */
#header .first-nav .container .relative-wrapper div .nav-right {float:right;line-height:250%;height:100%;}
#header .first-nav .container .relative-wrapper div .nav-right li {display:inline-block;padding:0 5px;height:100%;}
#header .first-nav .container .relative-wrapper div .nav-right li > i {display:inline-block;width:1px;height:21px;background:#fff;opacity:.4;margin-left:7px;}
#header .first-nav .container .relative-wrapper div .nav-right li .flag-link {position:relative;font-weight:bold;font-size:14px;color:#777;transition:color .3s;}
#header .first-nav .container .relative-wrapper div .nav-right li .flag-link:hover {color:#fff;}
#header .first-nav .container .relative-wrapper div .nav-right li .flag-link .flag-KR {position:absolute;top:-35%;left:-70%;}
#header .first-nav .container .relative-wrapper div .nav-right li .flag-link .flag-KR img {width:20px;height:13px;filter:grayscale(100%); opacity:.4;transition:all .3s;}
#header .first-nav .container .relative-wrapper div .nav-right li .flag-link:hover .flag-KR img{filter:grayscale(0); opacity:1;}
#header .first-nav .container .relative-wrapper div .nav-right li .acount-link {font-weight:bold;font-size:14px;color:#777;transition:color .3s;}
#header .first-nav .container .relative-wrapper div .nav-right li .acount-link:hover {color:#fff;}
#header .first-nav .container .relative-wrapper div .nav-right li .acount-link > span > .fa-user-circle {font-size:16px;padding-bottom:5px;}


/* 메인 네비게이션 */
#header .second-nav {z-index:1;position:absolute;top:60px;width:100%;height:75px;margin:0 auto;}
#header .second-nav .h2-container {width:100%;}
#header .second-nav .h2-container .h2-relative-wrapper {z-index:1;position:relative;top:0;width:100%;height:75px;margin:0 auto;text-align:center;}

/* 로지텍 로고 */
#header .second-nav .h2-container .h2-relative-wrapper .logo-container {position:absolute;left:18%;width:12%;padding:10px 0;}
#header .second-nav .h2-container .h2-relative-wrapper .logo-container img {width:170px;}

#header .second-nav .h2-container .h2-relative-wrapper .logo-container:hover .slit-in-vertical {
	-webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  @keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  
/* 메인 메뉴 */
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav {display:inline-block;line-height:150%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul {width:100%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li {display:inline-block;padding:19px 15px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > a {position:relative;font-size:14px;color:#000;font-weight:700;line-height:20px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > a span {z-index:5;position:absolute;top:47px;left:0;width:100%;height:3px;cursor:default;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > a:hover span {background:#00ace8}

/* 서브 메뉴 */
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub {display:none;background:#fff;z-index:1;position:absolute;top:71px;left:0;width:100%;text-align:center;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul {width:100%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li {width:100%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub1 ul li > .sub-wrap {width:100%;max-width:1170px;margin:0 auto;padding:40px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub2 ul li > .sub-wrap {width:100%;max-width:1170px;margin:0 auto;padding:40px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub3 ul li > .sub-wrap {width:100%;max-width:1000px;margin:0 auto;padding:40px;} 
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub4 ul li > .sub-wrap {width:100%;max-width:1000px;margin:0 auto;padding:40px;} 

#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul {width:100%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li {float:left;width:15%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > .border-li {padding-left:40px;border-left:1px solid #888;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub1 ul li > .sub-wrap > ul > li:first-child {padding-left:45px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub2 ul li > .sub-wrap > ul > li:first-child {padding-left:250px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub3 ul li > .sub-wrap > ul > li:first-child {padding-left:380px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub4 ul li > .sub-wrap > ul > li:first-child {padding-left:380px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li ul {width:100%;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li ul > li {text-align:left;width:100%;line-height:28px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li ul > li a {color:#999;font-size:13px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li ul > li a img {width:120px;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li ul > li a:hover {color:#444;text-decoration:underline;}
#header .second-nav .h2-container .h2-relative-wrapper .h2-mainNav > ul > li > .sub ul li > .sub-wrap > ul > li ul > li:first-child a {color:#444;font-size:16px;line-height:32px;font-weight:700;}

/* 서치바 */
#header .second-nav .h2-container .h2-relative-wrapper .search {position:absolute;top:0;right:19%;margin:25px 0;padding-bottom:3px;border-bottom:1px solid #000;outline:transparent;}
#header .second-nav .h2-container .h2-relative-wrapper .search span {padding:0 30px;font-size:14px;color:#000;font-weight:700;line-height:20px;}
#header .second-nav .h2-container .h2-relative-wrapper .search span:first-child {padding-left:0;}
#header .second-nav .h2-container .h2-relative-wrapper .search span:last-child {padding-right:0;}

/* 메인 서치바 */
#header .second-nav .h2-container .search-wrapper {display:none;z-index:3;position:absolute;top:-15px;width:100%;;text-align:center;background:#fff;transition:display .5s;}
#header .second-nav .h2-container .search-wrapper.addSearch {display:block;}
#header .second-nav .h2-container .search-wrapper input[type="text"] {position:relative;width:100%;max-width:1200px;height:90px;font-size:30px;outline:1px solid transparent;padding-left:20px;box-sizing:border-box;}
#header .second-nav .h2-container .search-wrapper input[type="text"]::placeholder {font-size:30px;color:#ccc;font-weight:700;}
#header .second-nav .h2-container .search-wrapper span {position:absolute;top:25%;right:18%;font-size:30px;}

/* 모바일 메뉴 */
#header .mobile {display:none;position:absolute;left:0;width:100%;max-width:1100px;text-align:center;transition:all .3s;}
#header .mobile.addMobile {position:absolute;left:350px;}
#header .mobile .hamburger {width:40px;height:20px;margin:15px 20px;transition:margin .3s;}
#header .mobile .hamburger a {position:relative;display:block;width:100%;height:100%;}
#header .mobile .hamburger a .m-line {transition:all .3s;position:absolute;left:0;display:block;width:100%;height:3px;background:#fff;}
#header .mobile .hamburger a .m-line1 {top:0;}
#header .mobile .hamburger a .m-line2 {top:50%;margin-top:-1px}
#header .mobile .hamburger a .m-line3 {bottom:0;}
#header .mobile .hamburger a.addClose .m-line1 {top:50%;margin-top:-1px;transform:rotate(135deg)}
#header .mobile .hamburger a.addClose .m-line2 {display:none;}
#header .mobile .hamburger a.addClose .m-line3 {bottom:50%;margin-bottom:-1px;transform:rotate(-135deg);}

#header .mobile .mobile-logo  {position:relative;top:-40px;}
#header .mobile .mobile-logo img {width:100%;max-width:140px;} 

#header .mobile-menu {position:fixed;top:0;left:-350px;z-index:4;width:350px;height:885px;background:#f9f9f9;border-right:1px solid #c9c9c9;transition:all .3s;}
#header .mobile-menu.addMobile {position:fixed;top:0;left:0;}
#header .mobile-menu ul {width:100%;}
#header .mobile-menu ul li {width:100%;height:20px;padding:20px 0;border-bottom:1px solid #c9c9c9;}
#header .mobile-menu ul li a {padding:0 20px;font-size:14px;font-weight:700;}

#header .mobile-menu ul li .mobile-subMenu {position:fixed;top:0;left:-350px;z-index:4;width:350px;height:885px;background:#f9f9f9;border-right:1px solid #c9c9c9;transition:left .3s;opacity:1;}
#header .mobile-menu ul li .mobile-subMenu.addMobile {position:fixed;top:0;left:0;opacity:1;}
#header .mobile-menu ul li .mobile-subMenu > ul {width:100%;}
#header .mobile-menu ul li .mobile-subMenu > ul > li {width:100%;height:20px;padding:20px 0;border-bottom:1px solid #c9c9c9;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > a {padding:0 20px;font-size:14px;font-weight:700;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > a > i {float:right;padding-right:10px;}

#header .mobile-menu ul li .mobile-subMenu {position:fixed;top:0;left:-350px;z-index:4;width:350px;height:885px;background:#f9f9f9;border-right:1px solid #c9c9c9;transition:left .3s;opacity:1;}
#header .mobile-menu ul li .mobile-subMenu.addMobile {position:fixed;top:0;left:0;opacity:1;}
#header .mobile-menu ul li .mobile-subMenu > ul {width:100%;}
#header .mobile-menu ul li .mobile-subMenu > ul > li {width:100%;height:20px;padding:20px 0;border-bottom:1px solid #c9c9c9;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > a {padding:0 20px;font-size:14px;font-weight:700;}

#header .mobile-menu ul li .mobile-subMenu > ul > li > .mobile-sub2Menu {position:fixed;top:0;left:-350px;z-index:4;width:350px;height:885px;background:#f9f9f9;border-right:1px solid #c9c9c9;transition:left .3s;opacity:1;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > .mobile-sub2Menu.addMobile {position:fixed;top:0;left:0;opacity:1;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > .mobile-sub2Menu > ul {width:100%;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > .mobile-sub2Menu > ul > li {width:100%;height:20px;padding:20px 0;border-bottom:1px solid #c9c9c9;}
#header .mobile-menu ul li .mobile-subMenu > ul > li > .mobile-sub2Menu > ul > li > a {padding:0 20px;font-size:14px;font-weight:700;}


#header .mobile-subMenu ul .mobile-sub-title {background:#fff;}
#header .mobile-menu ul li a > i {float:right;padding-right:10px;}

#header .mobile-menu ul .mobile-login {background:#fff;}
#header .mobile-menu ul .mobile-login > span {background:#fff;}

#header .mobile-menu ul .mobile-search {width:100%;height:45px;padding:10px 0;border-bottom:1px solid #c9c9c9;}
#header .mobile-menu ul .mobile-search .searchInputMobileForm {position:relative;left:0;padding:0 35px 0 15px;}
#header .mobile-menu ul .mobile-search .searchInputMobileForm .search-str {position:relative;width:100%;height:40px;outline:1px solid #444;outline-offset:-2px;padding:0 10px;} 
#header .mobile-menu ul .mobile-search .searchInputMobileForm .search-str::placeholder {color:#aaa;font-size:16px;font-weight:700;}
#header .mobile-menu ul .mobile-search .searchInputMobileForm .search-btn {position:absolute;background:transparent;top:0;right:20px;width:40px;height:40px;font-size:16px;color:#aaa;}

#header .mobile-menu .mobile-branding {width:100%;height:auto;text-align:center;margin:0 auto;}
#header .mobile-menu .mobile-branding li {width:350px;height:auto;}
#header .mobile-menu .mobile-branding > li > i {display:inline-block;width:1px;height:70px;background:#444;opacity:.2;}
#header .mobile-menu .mobile-branding > li > a {width:180px;}
#header .mobile-menu .mobile-branding > li > a img {width:120px;opacity:.6;}

#header .mobile-menu .closeMenu > li> a > i {font-size:18px;}


#main {z-index:2;position:relative;left:0;width:100%;overflow:hidden;transition:all .3s;}
#main.addMobile {position:relative;left:350px;}

#main .security_wrap {width:100%;height:100%;margin:0 auto;padding-top:250px;background:#00EAD0;}
#main .security_wrap .security_container {position:relative;max-width:1200px;width:100%;height:100%;margin:0 auto;padding:0 30px;box-sizing:border-box;}
#main .security_wrap .security_container img {position:relative;right:15%;width:130%;}
#main .security_wrap .security_container .security_title {position:absolute;top:0;left:0;width:100%;color:#000;padding:0 20px;box-sizing:border-box;transition:all .3s;}
#main .security_wrap .security_container .security_title h2 {font-size:110px;font-weight:700;transition:all .3s;}
#main .security_wrap .security_container .security_title h3 {font-size:24px;font-weight:400;padding-bottom:10px;transition:all .3s;}

#main .security-flex-wrap {width:100%;height:auto;}
#main .security-flex-wrap .security-flex-container {width:100%;max-width:1200px;margin:0 auto;display:flex;flex-flow:row wrap;padding:40px 0;box-sizing:border-box;} 
#main .security-flex-wrap .security-flex-container .security-flex-item {width:33.333%;display:flex;flex-flow:column wrap;padding:6px;box-sizing:border-box;border:1px solid rgba(0,0,0, .0);}
#main .security-flex-wrap .security-flex-container .security-flex-item:hover {border:1px solid rgba(0,0,0, .3);box-sizing:border-box;}
#main .security-flex-wrap .security-flex-container .security-flex-item a {width:100%;}
#main .security-flex-wrap .security-flex-container .security-flex-item a .img-item {display:flex;min-height:319.19px;flex:1 1 auto;;justify-content:center;align-items:center;background:#f9f9f9;padding:30px;box-sizing:border-box;}

#main .security-flex-wrap .security-flex-container .security-flex-item:nth-child(1):hover a .img-item {background-color:#ff7f2c;}

#main .security-flex-wrap .security-flex-container .security-flex-item a .img-item img {max-width:80%;max-height:80%;}
#main .security-flex-wrap .security-flex-container .security-flex-item a .title {display:block;background:transparent;padding:15px;justify-content:flex-start;font-size:18px;font-weight:500;}
#main .security-flex-wrap .security-flex-container .security-flex-item a .title-hidden {display:block;opacity:0;font-size:16px;font-weight:400;padding-top:10px;}
#main .security-flex-wrap .security-flex-container .security-flex-item:hover a .title-hidden {opacity:1;}

#footer {z-index:1;position:relative;background:#252a2c;padding:100px 0 50px 0;overflow:hidden;}  
#footer .f-container {position:relative;width:100%;max-width:1280px;margin:0 auto;padding:0 40px;box-sizing:border-box;}
#footer .f-container .siteMap {border-bottom:1px solid rgba(255,255,255, 0.3);margin-bottom:30px;padding-bottom:20px;}
#footer .f-container .siteMap .col {float:left;width:25%;}
#footer .f-container .siteMap .col ul {width:100%;}
#footer .f-container .siteMap .col ul li {width:100%;margin-bottom:30px;}
#footer .f-container .siteMap .col ul li a {color:#fff;font-size:16px;font-weight:700;line-height:18px;}
#footer .f-container .siteMap .col ul li a:hover {text-decoration:underline;}

#footer .f-container .contact {width:100%;margin-bottom:30px;}

/* SNS 아이콘 */
#footer .f-container .contact .contact-left {float:left;width:50%;padding:20px 0;}
#footer .f-container .contact .contact-left a {margin:0 15px;}
#footer .f-container .contact .contact-left a:first-child {margin-left:0;}
#footer .f-container .contact .contact-left a i {font-size:28px;color:#fff;}
#footer .f-container .contact .contact-left a i:hover {color:#00ace8}

/* 이메일 */
#footer .f-container .contact .contact-right {float:right;width:39%;}
#footer .f-container .contact .contact-right form {width:100%;}
#footer .f-container .contact .contact-right form ul {width:100%;}
#footer .f-container .contact .contact-right form ul li {width:100%;padding-bottom:20px;}
#footer .f-container .contact .contact-right form ul li div {position:relative;width:100%;}
#footer .f-container .contact .contact-right form ul li div input[type="email"] {position:relative;width:100%;height:40px;outline:1px solid transparent;padding-left:20px;box-sizing:border-box;}
#footer .f-container .contact .contact-right form ul li div input[type="email"]::placeholder {font-size:16px;color:#aaa;font-weight:700;}
#footer .f-container .contact .contact-right form ul li div .email-btn {position:absolute;background:#DCFD00;top:0;right:0;width:40px;height:40px;font-size:11px;color:#000;transition:all .3s;}
#footer .f-container .contact .contact-right form ul li div .email-btn:hover {background:#afcc00;}

#footer .f-container .contact .contact-right form ul li div .error-message {display:none;margin-top:10px;color:#f55b5b;font-weight:700;}
#footer .f-container .contact .contact-right form ul li div .error-message2 {display:none;margin-top:10px;color:#f55b5b;font-weight:700;}
#footer .f-container .contact .contact-right form ul li div .success-message {display:none;margin-top:10px;color:#00ace8;font-weight:700;}

#footer .f-container .contact .contact-right form ul li div .error-message.addMessage {display:block;}
#footer .f-container .contact .contact-right form ul li div .error-message2.addMessage {display:block;}
#footer .f-container .contact .contact-right form ul li div .success-message.addSuccess {display:block;}

#footer .f-container .contact .contact-right form ul li div .checkbox-title {padding-left:15px;color:#fff;font-size:14px;text-align:left;font-weight:normal;}
#footer .f-container .contact .contact-right form ul li div .checkbox-title a {padding:0 5px;font-weight:bold;text-decoration:underline;color:#fff;font-size:14px;}
#footer .f-container .contact .contact-right form ul li div .checkbox-title a:hover {text-decoration:none;}

#footer .f-container .copyRight {width:100%;}
#footer .f-container .copyRight .copy-row1 {width:100%;padding-bottom:15px;}
#footer .f-container .copyRight .copy-row1 .copy-left {float:left;width:50%;}
#footer .f-container .copyRight .copy-row1 .copy-left span {font-size:14px;font-weight:400;color:#fff;}

#footer .f-container .copyRight .copy-row1 .copy-right {float:right;width:50%;text-align:right;}
#footer .f-container .copyRight .copy-row1 .copy-right .copy-flag-link .copy-flag-text {color:#fff;}
#footer .f-container .copyRight .copy-row1 .copy-right .copy-flag-link:hover .copy-flag-text {text-decoration:underline;}
#footer .f-container .copyRight .copy-row1 .copy-right .copy-flag-link .copy-flag-KR {padding-right:5px;}
#footer .f-container .copyRight .copy-row1 .copy-right .copy-flag-link .copy-flag-KR img {width:20px;height:13px;filter:grayscale(100%); opacity:.4;transition:all .3s;}
#footer .f-container .copyRight .copy-row1 .copy-right .copy-flag-link:hover .copy-flag-KR img{filter:grayscale(0); opacity:1;}

#footer .f-container .copyRight .copy-row2 {color:#fff;font-size:10px;}

/* 팝업 */
.popUp {z-index:4;position:fixed;bottom:40px;right:20px;width:60px;height:60px;border-radius:50%;overflow:hidden;}
.popUp a {display:block;width:100%;height:100%;text-align:center;}
.popUp a .popUp-message {position:relative;display:block;width:100%;height:100%;}
.popUp a .popUp-message img {width:100%;}
